<div class="resources-table-wrapper">
  <span class="resources-header">Resources</span>
  <div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Values </th>
      <td mat-cell *matCellDef="let resource"> {{resource.value}} </td>
    </ng-container>

    <ng-container matColumnDef="controls">
      <th mat-header-cell *matHeaderCellDef>
        <button class="btn btn-primary" (click)="onAddResource()">Add resource</button>
      </th>
      <td mat-cell *matCellDef="let resource">
        <app-resources-button-control [resource]="resource" (departmentChanged)="onChange()"></app-resources-button-control>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
</div>
